### 1. Lists the tuple Properties and Explain immutability in Python tuples with examples. 

         properties of tuple:
         -------------------
         
             1.tuple is immutable in nature means we can not edit tuple elements after creation.
             2.tuple values can have indexing by using the index we can perform slicing so slicing can be done in tuple.
             3.tuple contains values of any data type including primitive and non primitive data types.
             4.tuple can have duplicate values.

             ex:     tuple_example=(1,2,3,[10,20,30])
             ---     
                     here the tuple tuple_examople contain primitive data types and non primitive data type( list
                     if we want to add 4 to tuple it is not possible to add directly to the tuple if we want to delete any element 
                     from the tuple its not possible directly we can convert that tuple to list and then delete the element.
                     # if we want to insert 4 at a particlar position(2) its not also possible this nature is called immutability.
                       tuple_example[2].insert(4)  # its not possible there this is called immutability.

In [1]:
tuple_example[2]=100   #immutability in nature of tuple example. updating is not possible.

NameError: name 'tuple_example' is not defined

In [19]:
tuple_example=(1,2,3,[10,20,30]) # tuple creation
print(tuple_example)

(1, 2, 3, [10, 20, 30])

In [23]:
# to add 4 to tuple not directly by converting that element as tuple and concatinating.
add_value=(4,)
tuple_after_modify=tuple_example+add_value  # here we are concatinating two tuples not inserting 4 directly to the tuple.
print(tuple_after_modify)

(1, 2, 3, [10, 20, 30], 4)

### 2.Tuple Basics Create a Python tuple containing the names of your favorite fruits. Write a Python program to print each fruit name from the tupl.

In [34]:
favorite_fruits=("banana","apple","mango","orange") # creating tuple with favoriate fruits
print(favorite_fruits) # printing tuple
for item in favorite_fruits:
    print(item)    # printing each fruit name from the tuple.

('banana', 'apple', 'mango', 'orange')
banana
apple
mango
orange

### 3.Given two tuples, write a Python program to concatenate them into a single tuple and then find the length of the resulting tuple.

In [39]:
tuple_1=(1,2,3)
tuple_2=("ram","raj","ravi")
result=tuple_1+tuple_2   #concatinating two tuples into a single tuple.
print(len(result)) # printing length of tuple by using len().

6

### 4.Write a Python program that takes a tuple of integers and converts it into a set. Then, find and print the maximum and minimum value from the set.

In [53]:
tuple_1=(1,2,3,0) # tuple of integers
tuple_to_set=set(tuple_1)  # conversition of tuple to set
print("minimum value from the set:",min(tuple_to_set)) #min() is used to find minimum value from the set.
print("maxmum value from the set:",max(tuple_to_set)) #max() is used to find maximum value from the set.

minimum value from the set: 0
maxmum value from the set: 3

### 5.Tuple Slicing Given a tuple of 10 elements, write a Python program to print the elements from the 3rd to the 7th position using slicing.

In [60]:
tuple_ten_elements=(10,"string",True,(1,2,3),10.3,90,"raj",50,"ravi",3.2)
print(tuple_ten_elements[3:8])  #slicing from 3rd position to 7th position.

((1, 2, 3), 10.3, 90, 'raj', 50)

### 6.Access value 20 from the tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

In [63]:
 tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
print(tuple1[1][1]) #Accessing 20 from the tuple.

20

### 7.tup=(1,2,3,2,4,5,3,4,2). Count the occurrences of element ‘2’ in the given tuple.

In [68]:
tup=(1,2,3,2,4,5,3,4,2)
print(tup.count(2)) #counting number of occrences of 2 in tuple.

3

### 8.Create a tuple of numbers. Use slicing to create a new tuple containing only the even-indexed elements of the original tuple.

In [73]:
numbers_tuple=(10,20,30,40,50,60,70)
even_index_tuple=numbers_tuple[::2] # to get even index position elements.
print(even_index_tuple)

(10, 30, 50, 70)