### 1. write a program that prints the numbers from 1 to 10, each on a new line.

In [5]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### 2.write a program that prints the even numbers from 1 to 20, each on a new line.

In [8]:
for i in range(1,21):
    if(i%2==0):
        print(i)

2
4
6
8
10
12
14
16
18
20

### 3.Write a program that calculates and prints the square of each number from 1 to 20.

In [11]:
for i in range(1,21):
    i=i*i
    print(i)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

### 4.write a program that prints the multiples of 3 from 3 to 30, each on a new line.

In [3]:
for i in range(1,11):
    print(f'3*{i}=',i*3)

3*1= 3
3*2= 6
3*3= 9
3*4= 12
3*5= 15
3*6= 18
3*7= 21
3*8= 24
3*9= 27
3*10= 30

### 5.Write a program that prints the numbers from 10 to 1 in descending order, each on a new line.

In [12]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

### 6.Count the number of vowels in a string using a for loop.
### s2= "Hello World"

In [17]:
s2= "Hello World"
count=0
for char in s2:
    if char in "aeiouAEIOU":
        count+=1
print("number of vowels in string:",count)

number of vowels in string: 3

### 7.Display numbers from -10 to -1 using a for loop.

In [24]:
for i in range(-10,0,1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

### 8.Find all prime numbers between 1 and 50 using a for loop.

In [62]:
for i in range(2,51):   
    for j in range(2,51):
       if i%j == 0:
           break
    if i == j:
        print(i,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

### 9.Print all uppercase letters in the string using a for loop.
### s = ”Innomatics Research Labs”

In [56]:
s = "Innomatics Research Labs"
print(f"uppercase letters in {s}:",end=" ")
for char in s:
    if char.isupper():
        print(char,end=" ")

uppercase letters in Innomatics Research Labs: I R L